[0] 《面向对象程序设计课程设计》内容和评分标准
[1] 一、课程介绍
[2] 本课程的先导课程《面向对象程序设计》主要教学任务是系统地向学生讲授Java语言的语法，构建Java程序的思想，学习Java中常见类的相关知识和具体应用，面向对象的理论和在Java中的体现。《面向对象程序设计课程设计》课程主要是让学生体验什么是类和对象，如何创建类和对象，如何运用Java中的关键字、运算符、语句构成、编程结构，描绘类的层次和关系，异常处理，JDBC、GUI等，并完成较为综合的应用程序设计。
[3] 本课程的教学目标如下： 
[4] 课程目标1：掌握面向对象程序设计的基本概念和基本原理，熟练掌握一些常用的面向对象程序设计实用开发方法和技术。
[5] 课程目标2：了解面向对象程序设计各领域的发展方向；掌握如何用面向对象技术与方法开发软件项目，以及可视化程序设计方法、事件驱动方法与面向过程程序设计方法的异同。
[6] 课程目标3：能够进行分工协作，利用所学知识去解决一些实际的应用问题。
[7] 二、课程设计内容
[8] 分别设计两个应用程序：命令行程序设计和GUI程序设计，包括数据库的设计和相应的应用程序编写。要求数据库使用之前开设的“数据库原理及应用”课程学习的MySQL数据库管理系统进行设计，应用程序使用本学期开设的“面向对象程序设计”课程学习的Java语言编写。
[9] 本课程理论教学0学时，实践教学16学时，共计16学时。本课程设计相关内容安排见下表：
[10] 三、课程设计要求
[11] （一）分组要求
[12] 该课程设计不分组，每人单独完成两个题目的设计，撰写一份课程设计报告。
[13] （二）时间要求
[14] 要求在第18周之前将电子版的课程设计报告和程序系统发送给学委，由学委整理后统一交给任课教师。
[15] （三）考核方式要求
[16] 课程考核包括平时形成性考核和课程设计系统两个部分。平时形成性考核成绩占课程总成绩的30%，课程设计系统成绩占课程总成绩的70%。
[17] 平时成绩计分100分，主要通过课堂参与的方式予以评定。课程设计系统成绩100分，主要通过软件系统和课程设计报告予以评定。课程设计系统考查过程中，注重考查学生的知识理解能力和运用面向对象的理论、技术、方法解决实际问题的能力。课程设计系统要注重相关知识和技术的实践运用效果。
[18] （四）各考核环节评分细则
[19] 四、课程设计参考资料
[20] （一）主要参考书
[21] [1]Java课程设计[M].北京：清华大学出版社，2018.01.
[22] [2]Java从入门到精通（第5版）（第五版）[M].北京:清华大学出版社，2019.03.
[23] （二）网络资源
[24] 爱课程在线学习中心：http://www.icourse163.org/course/
